@font-face {
    font-family: "Agmena Pro Book" ;
    src: url(Agmena\ Pro\ Book.ttf);
}
body
{
    margin: 0;
    font-family: 'Agmena Pro Book';
}

.promo
{
    background: #c53427;
    color: white;
    text-align: center;
    padding: 1px;
    font-size: .8em;
    font-weight: 400;
    

}


/* Header */

header
{
  background-color: white;  
  padding: 0 55px 0 55px;
  font-size: 20px;
  font-family: 'Agmena Pro Book', serif ;
  font-style: normal;
  font-weight: 400;
  color: #3d4246;
  line-height: 1.8;
  display: flex;
  align-items: center;
  margin-bottom:0;
}

.logo
{
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

.panier
{
    vertical-align: left;
    margin-right: 1px;
}



/* Navigation */

nav
{
    text-align: center;
    position: relative;
    right: 300px;
    width: 1000px
}

nav ul
{
    list-style-type: none;
    padding: 0;
    margin: 25px 0;
    font-family: 'Agmena Pro Book';
    text-align: center;
}


nav li 
{
    display: inline-block;
    margin-bottom: 0;
    vertical-align: top;
    margin-right : 17.5px;
}

#espace
{
    margin: 0;
}

.accueil
{
    border-bottom: 1px solid #3d4246;
}


/* Bannière */

.banniere_presentation
{
    width:100%;
    height:100%;
    position: relative;
    filter: brightness(73%);
    opacity: 0.9;
}

.cadre_banniere
{
    position: relative;
}

.titre_banniere h1 
{
    font-size: 3em;
    margin-bottom: 8px;
    letter-spacing: .01em;
    font-weight: 400;
    line-height: 1;
}

.titre_banniere p 
{
    font-weight: 650;
    font-size: 1.3em;
    letter-spacing: .01em;
    line-height: 1;
}

.titre_banniere
{
    text-align: center;
    position: absolute;
    top: 25%;
    right: 30%;
    color: white;
    font-family: 'Agmena Pro Book';
}

/* Collections */

.titre_collection
{
    text-align: center;
    color: #3d4246;
    letter-spacing: .15em;
    font-size: 1.6em;
    font-weight: 500;
    line-height: 1.2;

}

.presentation_boutique
{
    padding-left: 30px;
    padding-right: 15px;
    margin-right: 74.5px;
    margin-left: 74.5px;
    overflow: auto;
}

.liste_presentation_boutique
{
    list-style-type: none;
}

.presentation_boutique li
{
    float: left;
    padding-left: 31px;
}

.texte_beret, .texte_costume, .texte_manteau, .texte_gant, .texte_sweat, .texte_deguisement
{
    font-weight: 700;
    font-size: 1.8em;
    font-family: 'Agmena Pro Book';
    position: absolute;
    top: 25%;
    left: 15px;
    right: 20px;
    color: white
}

.image_sweat, .image_beret, .image_costume, .image_manteau, .image_deguisement, .image_gant
{
    opacity: .9;
    filter: brightness(65%);
    width: 300px;
}

.collection_beret, .collection_costume, .collection_manteau, .collection_gant, .collection_sweat, .collection_deguisement
{
    text-align: center;
    top: 200%;
    position: relative;
    padding-bottom: 20px;
}

.suite_presentation_boutique
{
    display: flex;
    overflow: auto;
}

.suite_presentation_boutique img
{
  filter: brightness(73%);
  opacity: 0.9;
  height: 450px;
  width: 449.7px

}

.collection_montre, .collection_sac, .collection_chaussure
{
position: relative;
display: table;
padding-top: 55px;
padding-bottom: 55px;
margin-bottom: 30px;
}


.texte_montre, .texte_sac, .texte_chaussure
{
    font-weight: 700;
    font-size: 1.8em;
    font-family: 'Agmena Pro Book';
    position: absolute;
    top: 40%;
    left: 20px;
    right: 20px;
    color: white;
    text-align: center;

}

/* Coup de coeur - Mode - Gentlemen */

.coup_de_coeur, .mode, .gentlemen
{
    
    margin-right: 74.5px;
    margin-left: 55px;
    overflow: auto;
    margin-bottom: 55px;
}

.liste_presentation_coup_de_coeur, .liste_presentation_mode, .liste_presentation_gentlemen
{
    list-style-type: none;
}

.coup_de_coeur li, .mode li, .gentlemen li
{
    float: left;
    padding-left: 31px;
}

.collection_bague, .collection_étui, .collection_bretelle, .collection_blazer, .collection_chapeau, .collection_ceinture, .collection_chaussures_autre, .collection_chemise, .collection_cravate, .collection_noeud_papillon_bois, .collection_portefeuille, .collection_liqueur
{
    text-align: center;
    position: relative;
    padding-bottom: 20px;
}

.coup_de_coeur img, .mode img, .gentlemen img
{
    width: 250px;
    height: 250px;
    opacity: .9;
    filter: brightness(65%)
}

.coup_de_coeur h3, .mode h3, .gentlemen h3
{
    font-weight: 700;
    font-size: 2.3em;
    font-family: 'Agmena Pro Book';
    position: absolute;
    top: 16%;
    left: 20px;
    right: 20px;
    color: white
}


.gentlemen h3
{
    font-weight: 700;
    font-size: 2.3em;
    font-family: 'Agmena Pro Book';
    position: absolute;
    top: 20%;
    left: 20px;
    right: 20px;
    color: white
}

/* Descriptif */

.descriptif img
{
    width: 550px
}

.descriptif
{
    display: flex;
    margin-left: 55px;
    margin-right: 55px;
    padding-left: 70px;
    padding-right: 70px;
    margin-bottom: 90px;
    margin-top: 90px;
}

.descriptif h3
{
    margin-left: 30px;
    margin-bottom: 0px;
    padding-top: 90px;
    color: #3d4246;
    font-size: 2.3em;
    font-weight: 500;
}

.descriptif p
{
    margin-left: 30px;
    margin-bottom: 0px;
    color: #241f1f;
    font-size: 1.3em;
    font-weight: 500;
    line-height: 1.5;
}


/* Accessoires */

.accessoires
{
    
    margin-right: 83px;
    margin-left: 53px;
    overflow: auto;
    margin-bottom: 55px;
}

.liste_accessoires
{
    list-style-type: none;
}

.accessoires li
{
    float: left;
    padding-left: 30px;
}

.collection_montre_autre, .collection_bracelet, .collection_noeud_papillon, .collection_briquet, .collection_elastiques_manche, .collection_pinces_cravate
{
    text-align: center;
    position: relative;
    padding-bottom: 30px;
}

.accessoires img
{
    width: 350px;
    opacity: .9;
    filter: brightness(65%);
    margin-top: 10px;
}

.accessoires h3
{
    font-weight: 700;
    font-size: 2.3em;
    font-family: 'Agmena Pro Book';
    position: absolute;
    top: 28%;
    left: 20px;
    right: 20px;
    color: white
}

/* Cartes-cadeaux */

.cartes_cadeaux
{
    margin-right: 83px;
    margin-left: 73px;
    overflow: auto;
    margin-bottom: 55px;
}

.liste_cartes_cadeaux
{
    list-style-type: none;
}

.cartes_cadeaux li
{
    float: left;
    padding-left: 25px;
}

.carte_vingt_euros, .carte_quarante_euros, .carte_quatre_vingt_euros, .carte_cent_euros
{
    text-align: center;
    position: relative;
    padding-bottom: 0px;
}

.cartes_cadeaux img
{
    width: 250px;
    margin-top: 20px;
}

.cartes_cadeaux h4
{
    font-weight: 700;
    font-size: 1.5em;
    color: #3d4246;
    margin-bottom: 0px;
    position : absolute;
    margin-top: 0

}

.cartes_cadeaux p
{
    margin-top: 0px;
    font-size: 1.2em
}

/* Articles de blog - Sacs & Sacoches */

.article_de_blog
{
    
    margin-right: 80px;
    margin-left: 80px;
    padding-left: 10px;
    padding-right: 30px;
    overflow: auto;
    margin-bottom: 90px;
}

.liste_article_de_blog
{
    list-style-type: none;
}

.article_de_blog li
{
    float: left;
    padding-left: 30px;
}

.article_saison_six, .article_histoire, .article_marque 
{
    width: 330px
}

.article_de_blog h3
{
    font-size: 2.2em;
    margin-bottom: 0px;
    color:#3d4246;
    font-weight: 400;
    margin-top: 20px;
    text-align: left;
    line-height: 1.2;
}

.article_de_blog img
{
    width: 300px;
    height: 350px;
    margin-bottom: 0px;
}


.article_de_blog p
{
    color: #241f1f;
    font-size: 1.2em;
    font-weight: 500;
    margin-top: 6px;
}

.article_de_blog button
{
    border: 1px solid #3d4246;
    border-radius: 3px;
    line-height: 2;
    font-size: .8em;
    color: #3d4246;
    font-family: 'Agmena Pro Book';
    background-color: transparent;
    font-weight: 100;
    width: 120px;
    margin-right: 10px;
}

.boutons li
{
    list-style-type:none;
}

.article_saison_six li, .article_histoire li
{
    float:left;
    padding-left: 10px;
}

.commentaires
{
    font-size: .6em;
    color: #3d4246;
    font-weight: 100;
    border-bottom: 1px solid #3d4246;
    padding-bottom: 0px;
}

.bouton_blog_tous
{
    background-color: #949494;
    color: #241f1f;
    border: none;
    font-size: 1.3em;
    font-family: 'Agmena Pro Book';
    border-radius: 2px;
    font-weight: 100;
    width: 100px;
    height: 50px;
    margin-bottom: 120px;
    
}

.div_bouton_blog_tous
{
    display: flex;
    justify-content: center;
}

/* Diaporama */

.banniere_diaporama
{
    width:100%;
    height:100%;
    position: relative;
    filter: brightness(60%);
    opacity: 0.9;
    margin-bottom: 90px;
}

.cadre_diaporama
{
    position: relative;
}

.titre_diaporama h1 
{
    font-size: 3em;
    margin-bottom: 8px;
    letter-spacing: .01em;
    font-weight: 400;
    line-height: 1;
}

.titre_diaporama p 
{
    font-size: 1.5em;
    line-height: 1;
    font-weight: 400;
}

.titre_diaporama
{
    text-align: center;
    position: absolute;
    top: 38%;
    right: 40%;
    color: white;
    font-family: 'Agmena Pro Book';
}

/* Sacs & Sacoches */

.sac_et_sacoche
{
    margin-right: 83px;
    margin-left: 50px;
    overflow: auto;
    margin-bottom: 15px;
}

.liste_sac_et_sacoche
{
    list-style-type: none;
}

.sac_et_sacoche li
{
    float: left;
    padding-left: 25px;
    width: 260px
}

.sac_style_tommy, .sac_birmingham, .sac_order, .sac_boat
{
    text-align: center;
    position: relative;
    padding-bottom: 0px;
}

.sac_et_sacoche img
{
    width: 250px;
    margin-top: 20px;
}

.sac_et_sacoche h4
{
    font-weight: 700;
    font-size: 1.5em;
    color: #3d4246;
    margin-bottom: 0px;
    margin-top: 0

}

.sac_et_sacoche p
{
    margin-top: 0px;
    margin-bottom: 3px;
    font-size: 1.2em
}

.prix_style_tommy, .prix_birmingham, .prix_order, .prix_boat
{
    color: #241f1f;
    text-decoration: line-through;
}

.prix_reduit_style_tommy, .prix_reduit_birmingham, .prix_reduit_order, .prix_reduit_boat
{
    color: #33a183;
    font-size: 90%;
}

/* Informations */

.information
{
    
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 20px;
    overflow: auto;
    margin-bottom: 90px;
    text-align: center;
}

.liste_information
{
    list-style-type: none;
}

.information li
{
    float: left;
    padding-left: 5px;
    padding-right: 15px;
}

.information_livraison, .information_satisfaction, .information_service_client, .information_paiement_securise 
{
    width: 300px
}

.information h4
{
    font-size: 1.6em;
    margin-bottom: 0px;
    color:#3d4246;
    font-weight: 400;
    margin-top: 20px;
    text-align: center;
    line-height: 1.2;
}

.information p
{
    font-size: 1.21em;
    margin-bottom: 0px;
    color:#3d4246;
    font-weight: 400;
    margin-top: 20px;
    text-align: center;
    line-height: 1.4;
}

.information img
{
    width: 150px;
    height: 150px;
    margin-bottom: 0px;
}

/* Footer */

footer
{
    background-color: #f5f5f5;
    padding-top: 20px;
}


/*Garanties - Livraison Gratuite - Newsletter*/

.brief
{
    display: flex;
    margin-bottom:60px;
    padding-left: 150px;
    padding-right: 150px;
}

.liste_garantie
{
    list-style-type: none;
    padding: 0;
}

.garanties
{
    width: 220px;
    margin-right: 35px;
}

.livraison_gratuite
{
    width: 260px;
    margin-right: 35px;
}

.newsletter
{
    width: 230px;
    margin-right: 35px;
}

.la_boutique
{
    width: 260px;
}

.garanties h4, .livraison_gratuite h4, .newsletter h4, .la_boutique h4
{
    font-size: 1.45em;
    color:#3d4246;
    font-weight: 400;
    padding-bottom: 1px;
}

.garanties p, .livraison_gratuite p, .la_boutique p
{
    font-size: 1.25em;
    color:#3d4246;
    font-weight: 400;
    margin: 0;
    padding-bottom: 6px;
}

.newsletter input
{
    border: 1px solid black;
    border-radius: 3px;
    width:220px;
    height: 40px;
    font-size: 20px;
    font-family: 'Agmena Pro Book';
    margin-bottom: 5px;
}

.newsletter button
{
    border: none;
    border-radius: 1px;
    width:225px;
    height: 45px;
    font-size: 18px;
    letter-spacing: .08em;
    color: #241f1f;
    font-family: 'Agmena Pro Book';
    background-color: #949494
}

/* Moyen de paiement */

.moyen_de_paiement
{
    list-style-type: none;
}

.bas_de_page_droite img
{
width: 40px;
margin-top: 0

}

.bas_de_page_droite li
{
    float: left;
    padding-right: 6px;
    align-items: right;
}



.bas_de_page
{
    display: flex;
    border-top: 1px solid #dcdcdc;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 40px;
}

.bas_de_page_gauche p
{
    margin-top: 25px;
    margin-right: 520px; 
    color :#241f1f;
    font-size: 1.05em;
    font-weight: 400;
}

.trait
{
    margin: 0;
    padding: 0;
}